main {
        background-color:black;
        font-family: 'Times New Roman', Times, serif;
        justify-content: center;
        text-align: center;
        font-style: bold;
        color: white;
        font-size: large;
        margin: 370px;
        margin-left: 35%;
        margin-right: 35%;
        padding: 24px;


}

label {
    display: block;
}

button {
    background-color: royalblue;
    color: white;
    display: block;
    margin: 24px auto;
}
