<footer id="footer">
      <ul class="social">

        <li> <a href="https://github.com/RinaDCV/Project3" target="_blank" ><i class="fa fa-github" style="font-size:46px"></i></a></li>
        <li> <a href="https://www.linkedin.com/in/rinavoegele" target="_blank" ><i class="fa fa-linkedin-square" style="font-size:46px"></i></a></li>
        <li> <a href="https://www.linkedin.com/in/aaliyah-bloise/" target="_blank" ><i class="fa fa-linkedin-square" style="font-size:46px"></i></a></li>
        <li> <a href="https://www.linkedin.com/in/lamarbland/" target="_blank" ><i class="fa fa-linkedin-square" style="font-size:46px"></i></a></li>
        <li> <a href="https://www.linkedin.com/in/aaliyah-bloise/" target="_blank" ><i class="fa fa-linkedin-square" style="font-size:46px"></i></a></li>
      </ul>

    <div class="copyright">
      <p> Copyright &copy; 2023 by Rina Voegele, Aaliyah Bloise, Lamar Bland & Rob Spencer </p>
    </div>
</footer>
