.title {
    background-color:rgb(39, 38, 38);
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    font-style: bold;
    color: white;


}

h2{
  font-size: x-large;
}
