h3 {
  text-align: center;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-weight: bold;
  background-color: rgb(39, 38, 38);
  color: white;
  margin-left: 35%;
  margin-right: 35%;
}

  .registrationForm {
    background-color: black;
    border: solid 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 24px;
    text-align: center;
    max-width: 300px;
    margin: 0px auto;
  }

  .formLabel {
    display: block;
    font-weight: bold;
    margin-bottom: .5em;
  }

  .formField {
    display: inline-block;
    padding: 6px;
    margin-bottom: 1em;
    width: 200px;
  }

  .invalid {
    color: rgb(231, 84, 84);
    margin-bottom: 0px 0px 12px 0px;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
  }

  .submitButton {
    display: block;
    font-weight: bold;
    padding: .5em 2em;
    margin: 0px auto;
    background-color: rgb(149, 8, 8);
    color: white;
  }

