.navBar {
  background-color:black;
  text-align: center;
}

.navLink {
  display: inline-block;
  padding: 8px 30px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  transition: .2s;
}

.navLink:hover {
  background-color: black;
  color: darkgray;
}
